@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  @apply font-sans;
}


@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui;
    --color-dark: #121212;
    --color-lightorange: #FE900A;
    --color-green: #84BF4A;
    --color-white: #FFFFFF;
    --color-lightblue: #9FC9BA;
    --color-faintgray: #D9D9D9;
}