@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
  @apply font-sans;
}


@theme {
    --font-sans: 'Outfit', ui-sans-serif, system-ui;
    --color-dark: #121212;
    --color-lightorange: #FE900A;
    --color-green: #84BF4A;
    --color-white: #FFFFFF;
    --color-lightblue: #9FC9BA;
    --color-faintgray: #D9D9D9;
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

    @keyframes slideUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-100%); opacity: 0; }
  }

  .animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
  }

    .animate-slideUp {
        animation: slideUp 0.3s ease-in forwards;
    }
}
